    /*
    Flaticon icon font: Flaticon
    Creation date: 24/02/2020 04:06
    */

    @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.eot");
        src: url("./Flaticon.eot?#iefix") format("embedded-opentype");
        src: url("./Flaticon.woff2") format("woff2");
        src: url("./Flaticon.woff") format("woff");
        src: url("./Flaticon.ttf") format("truetype");
        src: url("./Flaticon.svg#Flaticon") format("svg");
        font-weight: normal;
        font-style: normal;
      }
      
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
          font-family: "Flaticon";
          src: url("./Flaticon.svg#Flaticon") format("svg");
        }
      }
      
          .fi:before{
              display: inline-block;
        font-family: "Flaticon";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
          }
      
          .flaticon-multiple-users-silhouette:before { content: "\f100"; }
      .flaticon-team:before { content: "\f101"; }
      .flaticon-website:before { content: "\f102"; }
      .flaticon-speech-bubble:before { content: "\f103"; }
          
          $font-Flaticon-multiple-users-silhouette: "\f100";
          $font-Flaticon-team: "\f101";
          $font-Flaticon-website: "\f102";
          $font-Flaticon-speech-bubble: "\f103";